<html>
	<head>
		<title>Math Practice Complete</title>
	</head>
	<body>
		<table width="100%" height="100%" border="0">
			<tr><td height="10%" align="center" colspan="2">Final score: <%= $score %></td></tr>
			<tr><td height="10%" align="center" colspan="2">
			<% if $record  %>
				You set a new record!
			<% end %>
			<tr><td height="10%" align="center" colspan="2"><a href="/">Play again?</a></td></tr>
		</table>
	</body>
</html>
